include *.txt
include *.md
include *.pkl
recursive-include ./extralearning/*

include extralearning/VERSION

include ./requirements.txt
include ./LICENSE
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]